/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

img{
  max-width: 100%;
}

* {
margin: 0;
padding: 0;
}



body {
  background-image: url("../images/backroundimg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;

 }

 .media {
   text-decoration: none;
   display: inline-block;
 }

 .social-links {
   float: right;
   li {
     display: inline-block;
     list-style: none;
   }
 }

 .contentbox {
   height: 454px;
   border: 5px solid rgba(249, 249, 249, 1);
   background-position: 79%;
   box-shadow: 0 4px #888888;;
   background-size: cover;
 }

 .lance {
     background-image: url("../images/lance.png");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 70%;
     height: 239px;

   }



 .rodney {
     background-image: url("../images/rodney.png");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 30%;
     height: 239px;
   }



 .steve {
     background-image: url("../images/steve-1.png");
     background-size: cover;
     background-repeat: no-repeat;
     height: 439px;
   }



 .tommy {
      background-image: url("../images/tommy.png");
      background-repeat: no-repeat;
      background-position: 85%;
      height: 650px;

   }

   .boards {
      height: 295px;
      width: 100%;
      margin: 31px 0 0 0;
      box-shadow: 0 4px #888888;
      list-style: none;


    }

    .boards ul li {
  display: inline-block;
  line-height: 295px;
  margin-left: 2.5%;
}






  // height: 439px;
  // width: 242px;

//
//
// //  .skaters{
// //
// //     .lance{
// //       height: 232px;
// //     }
// //
// //     .rodney{
// //       height: 232px
// //     }
// //
// //     .steve{
// //       height: 232px
// //     }
// //
// //     .tommy{
// //       height:474px;
// //       backround: url(images/tommy.png);
// //     }
// //   }
// //
// //
// //
// //
// //
// //
// //   ul {
// //    list-style: none;
// //   }
// //
// //   .container, .col {
// //    /*background-color: red;*/
// //    border: 2px solid white;
// //   }
// //   .subscribe-link {
// //    float: right;
// //    padding-right: 30px;
// //    color: white;
// //   }
// //
// //   .social-links a {
// //    color: white;
// //   }
// //
//   .media {
//    height: 60px;
//   }
//
//   .primary-nav a {
//    color: white;
//    background-color: red;
//   }
//
//   .bannerimg {
//    height: 338px;
//    width: 1006px;
//    border: 10px solid white;
//    -webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
//    animation-delay: 0s;
//    float: center;
// }
